# C/C++ object files
*.o

# AVR-GCC debug files
*.d

# AVR eeprom files
*.eep

# AVR elf files
*.elf

# AVR hex files
*.hex

# Ignore the current Makefile, because I always use the stk500_atmega8 one for tests.
Makefile
